.c-works {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;

  &__content {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom right, rgb(243, 243, 243), rgb(229, 244, 255));
    border: 3px solid $theme-color;
    transition: 1s;
    margin: 10px;
    &:hover {
      scale: 1.1;
    }
    &-image {
      width: 100%;
      height: 100%;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      font-size: 1.4rem;
    }

    &-badge {
      position: absolute;
      right: 15px;
      top: 5px;
      border-radius: 2px !important;
      &.work {
        background-color: $works-color;
      }
      &.event {
        background-color: rgba(111, 204, 99, 0.904);
      }
      &.compe {
        background-color: rgba(255, 115, 0, 0.808);
      }
    }
  }
}
